%section#help<
  %section>
    %h2= raw('Помощь<span>14 ответов</span>')
    %article
      %h3= link_to raw('1. <span>Зачем этот сайт?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
    %article
      %h3= link_to raw('2. <span>Как спорить?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
    %article
      %h3= link_to raw('3. <span>Где пополнить счет?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
    %article.is-selected
      %h3= link_to raw('4. <span>Аукционы. Что с ними такое?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
    %article
      %h3= link_to raw('5. <span>Ставки и профиль. Что делать?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
    %article
      %h3= link_to raw('6. <span>Как создать спор?</span>'), '#', :target => '$ !> * + section :display(), $ !> !> * :state(selected)'
      %section
        %p Полузащитник «Ливерпуля» Дирк Кюйт поделился мнением об игре команды в матче групповой стадии Лиги Европы с «Утрехтом» (0:0).
        %p «Мы с Торресом неплохо сыграли сегодня. С «Сандерлендом» и «Вест Бромом» это сработало, так что, думаю, мы можем хорошо взаимодействовать, хотя для нас и команды это была не лучшая игра.
        %p Матч получился очень сложным. С самого начала было тяжело. Мы провели не лучшую встречу, но будем продолжать бороться. Создали несколько хороших моментов, однако и соперник не подкачал, так что 0:0 – нормальный результат.
  %aside
    %form{:action => '#', :method => 'post'}
      %p Нет ответа? Пишите нам.
      %section
        .textarea
          %textarea{:placeholder => 'Напишите где вы живете и когда вас нет?'}
        %p Пишите подробнее.
        %menu
          %a.button{:type => 'submit'} Отправить сообщение
      %p Cообщение отправлено
      %section
        %span= raw('Ваше сообщение уже получено нами.<br />Ответим в течение 24 часов.')
        %menu
          %a.button{:href => '#'} Отправить еще одно
    %p Электронная почта
    %h2= link_to 'Arnold@gov.us', 'mailto:Arnold@gov.us'
    %p Телефон
    %h2 +74995665875
    %p Физический адрес
    %h2 г. Москва, ул. Ямская 27.