%header<
  %h1>= link_to 'Wrongler', '#'
  %aside<>
    %nav<>
      %li>
        .button
          %p= link_to 'Помощь', '#'
          = link_to raw('<span>Куда я попал?</span>'), '#', :target => '::page #start-tip :display()'
      %li.is-selected>
        .button
          %p= link_to 'Споры', '#'
          %span 12 ставок
      %li>
        .button
          %p= link_to 'Аукционы', '#'
          %span 2 ставки
    %menu<>
      %li<>
        %a.button{:href => '#'}= raw('НАЧАТЬ<span>СПОР</span>')