%aside<
  %a.button.cancel{:href => '#'}>= raw('<span>Закрыть</span>')
%section#gallery
  %h2= raw('2<span> из 25</span>')
  .thumb
    %img{:src => '/images/icons/big_thumb.jpg', :alt => 'Football'}
  %footer
    %menu<
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '/disputes/1/pictures', :class => 'video'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#', :class => 'video'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#', :class => 'video'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#', :class => 'video'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#', :class => 'video'
      = link_to raw('<img src="/images/icons/picture.jpg" alt="London" />'), '#', :class => 'video'