.pre-filter
  %section<
    %p>= link_to 'Все тематики', '#'
  %aside<
    %p> Настройте что вам интересно.
    %menu<>
      %a.button#set-button{:href => '#', :target => '$$ #disputes-filter :display(), $$ #set-button :state(expanded)'}= raw('<span>Настроить</span><b>Скрыть</b>')
.filter#disputes-filter{:hidden => 'hidden', :animation => 'slide'}
  %section<
    %menu<>
      = link_to 'Новые', '#'
      = link_to 'Клёвые', '#'
      = link_to 'Массовые', '#'
      = link_to 'Приватные', '#'
      = link_to 'Прошлые', '#', :class => 'is-selected'
  %aside<
    .range<>
      %input{:type => 'range', :target => '$$ #raises span :set()'}>
    %p>= link_to raw('<span>Любые</span> ставки'), '#', :id => 'raises'
%section.disputes
  %article.sponsored
    %header
      %h2<
        %p>= raw('<span>256,6</span>')
        = link_to raw('<span>Какая карта лучше Visa или Mastercard?</span>'), '#'
    %footer
      %section
        %div= raw("#{link_to 'Арнольд Шварцнеггер', '#'}, <time title='25 сентября 1954'>2 часа назад</time>")
        %p Финансы / Банки
      %aside<
        = link_to '27 комментариев'
  %article
    %header
      %h2<
        %p>= raw('<span>256,6</span>')
        = link_to raw('<span>Ливер против МЮ. Завтра.</span>'), '#'
    %footer
      %section
        %div= raw("#{link_to 'Василий Алибабаевич', '#'}, <time title='25 сентября 1954'>2 часа назад</time>")
        %p Спорт / Футбол
      %aside<
        = link_to '27 комментариев'
  %article.closed
    %header
      %h2<
        %p>= raw('<span>8947,9</span>')
        = link_to raw('<span>Где будут проходить летние олимпийские игры 2014 года?</span>'), '#'
    %footer
      %section
        %div= raw("#{link_to 'Сильвестр Сталоне', '#'}, <time title='25 сентября 1954'>вчера, 12:55</time>")
        %p Спорт
      %aside<
        = link_to '7 комментариев'
  %article
    %header
      %h2<
        %p.many>= raw('<span>123187,9</span>')
        = link_to raw('<span>Какое ультра-длинное название спора. Я даже не знаю зачем такое длинное название кому-нибудь может понадобится.</span>'), '#'
    %footer
      %section
        %div= raw("#{link_to 'Кусачий собак', '#'}, <time title='25 сентября 1954'>31 октября 2008</time>")
        %p Политика
      %aside<
        = link_to '5288 комментариев', '#', :class => 'many'
.paginator
  %section
    = link_to 'Cюда', '#', :class => 'is-disabled'
  %div
    %p= raw('8<span> споров из </span>324')
  %aside
    = link_to 'Туда', '#'