!!! 5
%html
  %head
    = render 'shared/head'
    = stylesheet_link_tag 'layouts/application'
    /[if IE]
      = stylesheet_link_tag "ie"
      = javascript_include_tag 'html5'
    /[if IE 7]
      = stylesheet_link_tag "ie7"
    = javascript_include_tag 'compiled/includes'
  %body{:style => 'padding:5px;'}
    = render 'shared/user_bar'
    #container
      = render 'shared/header'
      #content
        = render 'shared/start_tip'
        = yield
        = render 'shared/lightbox'